<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Conspiri</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>

<body>

    <header>
        <h1 class="title">Conspiri</h1> <!-- Title of Page-->
        <button class="button">Login</button> <!-- Login Button -->
    </header>

    <main>
        {{{ body }}} <!-- Body of Page -->
    </main>

    <footer>
        <p>Conspiri</p> <!-- Footer of Page -->
    </footer>

</body>

</html>