<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Conspiri</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">
    </head>

<body>

    <!-- Navbar -->
    <nav class="navbar has-background-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item nav-logo ml-5">
                <img src="/images/Logo.jpg">
            </div>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-start">
                <a class="navbar-item has-text-white" href="/">
                    Home
                </a>

                <a class="navbar-item has-text-white" href="/dashboard">
                    Dashboard
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link has-text-white">
                    More
                </a>

                <div class="navbar-dropdown">
                <a class="navbar-item">
                    About
                </a>
                <a class="navbar-item">
                    Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                    Report an issue
                </a>
            </div>
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">

          <div class="buttons">
          {{#if logged_in}}
          <a class="button is-light" id="logout">Log Out</a>
          {{else}}
          <a class="button" href="/login" style="background-color: rgb(242, 157, 120)"><strong>Log in</strong></a>
          <a class="button is-light" href="/signup">Sign up</a>
        {{/if}}
      </div>

    </div>
  </div>
</nav>

<main>
    {{{ body }}} <!-- Body of Page -->
</main>
</body>

</html>