<section class="section homepage">

    <div class="container">
        <h1 class="title">
            Conspiira
        </h1>
        <p class="subtitle">
            Blog beliefs and debate on conspiracies!
        </p>
    </div>
    
</section>