<section class="hero is-fullheight login" id="login">
<div class="hero-body is-flex is-align-self-center">

    <form class="box loginContainer">
    <div class="field m-5">
        <label class="label is-size-4 has-text-light">Enter an Email</label>
        <div class="control">
        <input class="input" type="email" placeholder="e.g. puhpuh@example.com">
        </div>
    </div>

    <div class="field m-5">
        <label class="label is-size-4 has-text-light">Enter a Password</label>
        <div class="control">
        <input class="input" type="password" placeholder="********">
        </div>
    </div>

    <div class="m-5 is-flex is-justify-content-space-around">
    <button class="button has-text-black" style="background-color: rgb(242, 157, 120)">Sign Up</button>
    </div>
    <div class="has-text-centered">
    <a class="is-size-5 has-text-light" href="/login"><strong>Have an account? Sign In</strong></a>
    </div>

    </form>

</div>
</section>