<section class="section">

    <div class="container">
        <h1 class="title">
            Welcome to Conspiri! App to help you find the truth!
        </h1>
        <p class="subtitle">
            Share your thoughts with the world!
        </p>
    </div>
    
</section>