<section class="section">

    <div class="container">
        <h1 class="title">
            Conspiira
        </h1>
        <p class="subtitle">
            Welcome to Conspira! Blog to post beliefs and debate on conspiracies!
        </p>
    </div>
    
</section>