<section class="hero is-fullheight login" id="login">
<div class="hero-body is-flex is-align-self-center">

    <form class="box loginContainer">
    <div class="field">
        <label class="label is-size-4 has-text-black-bis">Email</label>
        <div class="control">
        <input class="input" type="email" placeholder="e.g. alex@example.com">
        </div>
    </div>

    <div class="field">
        <label class="label is-size-4">Password</label>
        <div class="control">
        <input class="input" type="password" placeholder="********">
        </div>
    </div>

    <button class="button is-primary">Sign in</button>
    </form>

</div>
</section>