<section class="hero is-fullheight login" id="login">
<div class="hero-body is-flex is-align-self-center">

    <form class="box loginContainer">
    <div class="field m-5">
        <label class="label is-size-4 has-text-black">Email</label>
        <div class="control">
        <input class="input" type="email" placeholder="e.g. puhpuh@example.com">
        </div>
    </div>

    <div class="field m-5">
        <label class="label is-size-4 has-text-black">Password</label>
        <div class="control">
        <input class="input" type="password" placeholder="********">
        </div>
    </div>

    <div class="m-5 is-flex is-justify-content-space-around">
    <button class="button has-text-black">Sign in</button>
    <a class="is-size-5 has-text-black"><strong>Register/Sign Up</strong></a>
    </div>

    </form>

</div>
</section>